*~
#Autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
bin2c
config.h
config.log
config.status
libtool
src/.deps/
src/.dirstamp
src/signin_page.h
src/version.h
stamp-h1
tools/.deps/
tools/.dirstamp
tools/bin2c.o
build/compile
build/config.guess
build/config.sub
build/depcomp
build/install-sh
build/ltmain.sh
build/missing
build/mod_authnz_persona.spec
mod_authnz_persona-*.tar.gz
.libs/
mod_authnz_persona.la
src/.libs/
src/*.lo

#Kdevelop
.kdev?
src/.kdev_include_paths

#Tests
t/TEST
t/conf/apache_test_config.pm
t/conf/extra.conf
t/conf/httpd.conf
t/htdocs/index.html
t/logs/
